<div class="container">
	<div class="row">
		<div class="col-xs-12 text-center">
			<span class="alert alert-info">智工作组--一切尽在掌握中。
         版权所有©づsんáηɡ年、悤悤惘惘。有任何意见或建议，欢迎联系全能的
			<button class="btn btn-warning" id="developer">开发者</button>        
			</span>
		</div>
	</div>	
</div>
<!-- 错误提示模态框 -->
 <div class="modal fade" id="msgerror" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times; </button>
            <h4 class="modal-title text-center" >
               <span class="label label-danger">信息提示！</span>
            </h4>
         </div>
         <div class="modal-body text-center" id="modalinfo"></div>
         <div class="modal-footer">
            <span  class="btn btn-info" data-dismiss="modal">确定</span>           
         </div>
      </div>
</div>
</div>