<extend name="Base:base" />
<block name="title">智-提单首页</block>
<block name='link'><link rel="stylesheet" href="__PUBLIC__/Css/Home/blw.css"></block>
<block name='src'>
<script>
var blGetother = "{:U('Bl/getother')}";
var blCall = "{:U('Bl/call')}";
</script>
<script src="__PUBLIC__/Js/Home/blw.js" type="text/javascript" charset="utf-8" async defer></script>
</block>
<block name='main'>
<div class="container">
<div id="fixedgd">
  <table class="table table-bordered table-hover table-condensed " id="toptable" cellspacing="0" width="100%">
  <thead>
        <tr>
            <form class="bs-example bs-example-form" id='sign' role="form">
      <div class="input-group input-group-sm">
        <th class='wo'> <input type="text" class="form-control" name='swo' id='swo' placeholder="查询工单号"></th>
            <th class="tel"><input type="text" class="form-control" name='stel' id='stel' placeholder="手机号"></th>
            <th><input type="text" class="form-control" name='saddress' id='saddress' placeholder="地址"></th>
            <th class="time">
            <input type="text" class="form-control" name='stda' id='stda' placeholder="拨号次数"></th>
            <th class="sta">
            <input type="text" class="form-control" name='smark' id='smark' placeholder="铁通置换">
            </th>
            <th class="sta">
            <input type="text" class="form-control" name='ssta' id='ssta'>
            </th>
            <th><input type="text" class="form-control" name='sres' id='sres' placeholder="人员"></th>
            <th class="sta">
            <div class="btn-group">
          <button type="button" class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown">
          <span id="sstaff">所有</span><span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
          <li><a href="#" class="wostaff">所有</a></li>
            {:W('Tdtable/Showstaff')}
           </ul>
      </div>
      </th>
      </div>
            <th class="sta">
        <div class="btn-group">
          <button type="button" class="btn btn-success dropdown-toggle btn-sm" data-toggle="dropdown">
              <span id="stype">已派发</span><span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#" class="wotype">所有</a></li>
              <li><a href="#" class='wotype'>已派发</a></li>
              <li><a href="#" class='wotype'>已提单</a></li>
              <li><a href="#" class='wotype'>先提单</a></li>
            </ul>
        </div>
            </th>
            <th class="work"><span class="btn  btn-primary" id='search'>查询</span></th>   
            </form>       
        </tr>
  </thead>
  </table>
    <label class="col-xs-1 btn  btn-danger">详细信息</label>
    <div class="col-xs-11">
        <input type="text" class="form-control" id="tdinfo" placeholder="表格信息 不要随意更改这里的东西，后果很严重">
    </div>
  </div>
  </div>
  <div class="container">
<table class="table table-bordered table-hover table-condensed " cellspacing="0" width="100%" id="fixedbo"> 
  <thead>
  <tr id="linfo" class="btn-success"> 
      <th class="wo">工单号</th>
      <th class="tel">手机号</th>
      <th class='address'>地址</th>
      <th class="time">超时</th>
      <th class="sta">备注</th>
      <th class="sta">标记</th>
      <th>回单</th>
      <th>人员</th>
      <th>单状态</th>
      <th id='action' class="work">操作</th>
  </tr>
  </thead>
  <tbody id="getall">
  {:W('Tdtable/showbltab')}
  </tbody>
 </table>
 </div>
</block>