<extend name="Base:lbase" />
<block name="title">智-安装程序</block>
<block name='link'><link rel="stylesheet" href="__PUBLIC__/Css/Home/setup.css"></block>
<block name='src'>
<script src="__PUBLIC__/Js/Home/setup.js" type="text/javascript" charset="utf-8" async defer></script>
</block>
<block name='main'>
<div class="container">
<div class="row">
<div class="col-xs-3"></div>
	<div class="col-xs-6">
	<h2 class="text-center">智--安装向导</h2>	
	<h4 class="text-primary">pdo支持：</h4>
	<h4 class="text-primary">php版本：</h4>
	<h4 class="text-primary">sockets支持：</h4>
	<h4 class="text-primary">配置文件可写：</h4>
	</div>
<div class="col-xs-3"></div>
</div>
</div>
</block>